*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
    body {
    background-color: rgb(0, 55, 15);
    height: 100vh;
}
.headercontainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    width: 100%; 
    background-color: #1f2937;
    color: white; 
    height: 26vh;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    

}
header h1 {
    padding: 0;
    margin-left: 150px;
    margin-bottom: 10px;


}
    
header h2 {
    padding:10px;  
    margin-left: 150px; 
    margin-bottom: 80px; 
}
header p {
    padding: 10px;
    margin-left: 130px;
    max-width: 800px;
    margin-bottom: 10px;
}
nav {
    display: flex;
    justify-content: flex-end; 
    
}

ul.top {
    list-style: none;
    display: flex;
    gap: 24px;
    padding-left: auto;
    padding-right: 100px;
    position:fixed;
    margin-bottom:10px;


}

li {
    padding: 10px;
}
div.leftside{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 10px;
}
.button {
    background-color: #3882F6;  
    max-width: 150px;  
    padding: 10px;
    margin-left: 130px;
    border: #1f2937;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 23px;
    text-align: center;
    text-decoration: none;

}
div.rightside{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 10px;
}
.headerpic {
    width: 500px;
    height: 250px;
    margin-top: 100px;
    margin-right: 100px;
}

main {
    background-color: azure;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
gap: 150px;
}

.main ul li {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 50px;
    border-radius: 25px;   
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    margin-bottom: 30px;
    text-align: center;
}
main h1 {
   margin-bottom: 80px;
   margin-top: 30px;
   align-items: center;
   font-size: 30px;
}
.main ul li p {
    margin-top:200px;
    min-width: fit-content;
    border: 5px hidden #1f2937;
    padding: 10px;
    margin-bottom: 10px;
}
section {
    background-color: #c2c2c2;
    height: 18vh;
    display: flex;
    text-align: center;
    justify-content: center;

}
section p {
    margin-top: 100px;
    font-style: italic;
    font-size: 36px;
}
section h3{
    padding-top: 50px;
    padding-left: 39em;
    font-size: 24px;
}